<?xml version="1.0" encoding="UTF-8"?>

<taglib version="2.1"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd" >

    <!-- time -->
    <tlib-version>1.0</tlib-version>
    <short-name>tm</short-name>
    <uri>paytags</uri>
    <tag>
        <name>info-time</name>
        <tag-class>by.epam.paysys.tag.PayTimeTag</tag-class>
        <body-content>empty</body-content>
    </tag>

    <!-- footer -->
    <tag>
        <name>footer</name>
        <tag-class>by.epam.paysys.tag.PayFooterTag</tag-class>
        <body-content>empty</body-content>
    </tag>
</taglib>