/* -----------------------
Layout styles
------------------------*/

#container
{
    max-width: 100em;
    margin: 0 auto;
    background: #F7F9FA;
    font-size: 1em;

}

#header
{
    color: #000;
    background: transparent -moz-linear-gradient(#FFFC00 0px, #FCDF00 100%);
    padding: 0.1em 1.25em;
    height: 65px;
    font-size: 1.0em;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}


#footer
{
    color: #fff;
    background: #565A5E;
    text-align: right;
    padding: 0.1em 1.25em;
}

/*-----------------------
Button
------------------------*/

.button-main {
    display: inline-block;
    /*font-size: 1em;*/
    color: #000;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}
.button-main:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button-main:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


/*-----------------
Button locale
------------------*/
.button-locale {
    display: inline-block;
    color: black;
    font-size: 70%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background:  linear-gradient(#ecc92b, #fce25b);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
}
.button-locale:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.button-locale:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

/*-----------------
------------------*/
.date-tag {
    float: right;
    line-height: 3.7em;
}

.lang-tag {
    float: left;
    line-height: 3.7em;
    margin-right: 10px;
    /*font-weight: 600;*/
}
.lang-eng {
    float: left;
    line-height: 3.7em;
}
.lang-eng form,.lang-ru form {
    display: inline;
    margin-left: 10px;
}

.lang-ru {
    float: left;
    line-height: 3.7em;
}


.clNum {
    width: 170px;
    display: inline-block;
}

.clCard {
    width: 160px;
    display: inline-block;
}

.freecardNum {
    width: 150px;
}
/*--------------------
New client and card
---------------------*/
.newReg {
    width: 140px;
}